.main-cont {
  max-width: 540px;
  font-family: "Helvetica 45 Light", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

input,
select {
  font-size: 1.2rem !important;
  font-weight: 300 !important;
}
/* .form-select {
  font-size: 1.2rem !important;
} */

.pvm {
  font-family: "Helvetica 45 Light", sans-serif;
  font-weight: 200;
}

.total-price {
  background-color: rgb(234, 234, 232);
  padding: 0.8rem;
}

#price:disabled {
  background-color: #fff;
}
